<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRouteCalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2873/HostRouteServer/RouteCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteCalculatorService"
                contract="IRouteCalculatorService" name="BasicHttpBinding_IRouteCalculatorService" />
        </client>
    </system.serviceModel>
</configuration>